.banner {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    
  }

h1 {
  font-size: 16pt;
  color: darkgrey;
  align-items: center;
  margin-left: 16px;
  margin-top: 10px;
  font-family: sans-serif;
}

.card {
  margin: 10px;
}

.exploreMoreButton {
  margin-top: 20px;
  margin-right: 16px;
}

.exploreMoreContainer {
  text-align: right;
}

