.logo {
    height: 50px;
}

.submitButton {
    border: 1px solid grey;
    color: rgb(85, 85, 85);
    margin-left: 20px;
}

.searchBar {
    border: 1px solid grey;
    border-left: none;
    color: darkgrey;
    width: 335px !important;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    .searchGroup {
      padding-top: 10px;
      align-items: center;
      margin: 0 auto;
      display: block;
    }
    .submitButton {
        margin-left: 0;
    }
  }