.logo {
    height: 50px;
}

/* .navLink:link {
    color:darkgrey;
    text-decoration:  none;
}

.navLink:visited {
    color:darkgrey;
    text-decoration:  none;
}

.navLink:hover {
    color:darkgrey;
    text-decoration:  none;
}

.navLink:active {
    color:darkgrey;
    text-decoration:  none;
} */
