hr {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
    align-items: center;
    border-top: 1px solid lightgray;
}

.footerLinks {
    margin: 5px;
    padding-bottom: 20px
}

.footerLinks:link {
    color: gray;
}

.footerLinks:visited {
    color:rgb(151, 151, 151);
    text-decoration: none;
}

.footerLinks:hover {
    color:rgb(151, 151, 151);
    text-decoration: none;
}

.footerLinks:active {
    color:rgb(151, 151, 151);
    text-decoration: none;
}
